{% extends 'layout.html' %}

{% block title %}
    Add Service
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="display-4">
        Enter the Details of Service in {{category.name}} 
    </h2>
    <hr>
    <div class="container mt-1">

    <form action="{{url_for('add_service_post')}}" method="post" class="form">
        <div class="form-group">
            <label for="type" class="form-label">Service Type:</label>
            <input type="text" 
            name="type" 
            id="type" 
            placeholder="Enter Here"
            class="form-control"
            required>
        </div>    
        <div class="form-group">
            <label for="name" class="form-label">Service Name:</label>
            <input type="text" name="name"id="name" 
            placeholder="Enter Here"class="form-control" 
            required>
        </div>
        
        <div class="form-group">
            <label for="description" class="form-label">Service Description:</label>
            <input type="text" 
            name="description" 
            id="description" 
            placeholder="Enter Here"
            class="form-control"
            required>
        </div>
        <div class="form-group">
            <label for="price" class="form-label">Service Price:</label>
            <input type="number"
            name="price"
            id="price"
            min="1"
            value="1"
            placeholder="Enter Here"
            class="form-control"
            required>
        </div>
        <div class="form-group">
            <label for="location" class="form-label">Service Location:</label>
            <input type="text"
            name="location"
            id="location"
            placeholder="Enter Here"
            class="form-control"
            required>
        <div class="form-group">
            <label for="duration" class="form-label">Service Duration:</label>
            <input type="number"
            name="duration"
            id="duration"
            min="1"
            value="1"
            placeholder="Enter Here"
            class="form-control"
            required>
        </div>

        <div class="form-group">
            <label for="category_id" class="form-label">ServiceCategory_Type:</label>
            <select name="category_id" id="category_id" class="form-control" required>
                {% for cat in categories %}
                {% if cat.id == category.id %}
                    <option selected value="{{cat.id}}">{{cat.name}}</option>
                {% else %}
                    <option value="{{cat.id}}">{{cat.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
    </div>
    <br>
    <div class="form_group">
        <button type="submit" class="btn btn-success">
            <i class="fa-solid fa-plus"></i> Add Service
            
        </button>
    
        
    </form>
{% endblock %}