{% extends 'layout.html' %}

{% block title %}
    Create Service_Type
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="display-4">
        Create ServiceCategory_Type
    </h2>
    
    <hr>
<div class="container mt-1">
    <form action="" method="post" class="form">
        <div class="form-group text-center mt-3">
            <label for="name" class="form-label"></label>
            <input type="text" name="name" id="name" placeholder="Add ServiceCategory_Type Name Here" class="form-control" required>
            <button type="submit" class="btn btn-success">
                <i class="fa-solid fa-plus"></i> Add Type
                
            </button>
        </div>
    </form>
    <h5 class="display-5 text-center mt-5">List of Authorised Service_Types</h5>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th style="width: 10%">ID</th>
                <th style="width: 15%">Service_Type</th>
                <th style="width: 15%">Services Offered</th>
                <th style="width: 60%; text-align:center;"> Management Tools</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.services|length }}</td>
                <td>
                    <a href="{{ url_for('show_category', id=category.id) }}" class="btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass-plus"></i> Show Details                    </a>
                    <a href="{{ url_for('edit_category', id=category.id) }}" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Edit Type
                    </a>
                    <a href="{{ url_for('delete_category', id=category.id) }}" class="btn btn-danger">
                        <i class="fa-regular fa-trash-can"></i> Delete Type
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block style %}
<style>
    .container {
        max-width: 800px;
        margin-top: 50px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .table {
        margin-top: 30px;
    }
    .btn {
        margin-top: 10px;
    }

    input.form-control {
            border: 3px solid #000; 
            border-radius: 5px; 
        }
</style>
{% endblock %}