{% extends 'layout.html' %}

{% block title %}
   Booking page
    
{% endblock %}

{% block content %}
    <h1 class="display-1">
        hello
        <span class="text-muted">@{{user.username}}</span>
    </h1>
    <div class="profile-pic">
        <img src="https://api.dicebear.com/9.x/lorelei/svg?seed={{user.username}}" width="100" alt="">
    </div>
    <a href="{{url_for('signout')}}" class="btn btn-outline-danger">Signout</a>
    
    <! -- update profile functionality -- >
       
    <! -- form to create booking -- >
    <form action="" method="post" class="form">
                <div class="card mt-4">
                    <div class="card-header">
                        {{ service.name }}'s booking Details
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 font-weight-bold">Email</div>
                            <div class="col-sm-8">{{ professional.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 font-weight-bold">Name</div>
                            <div class="col-sm-8">{{ professional.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 font-weight-bold">Username</div>
                            <div class="col-sm-8">{{ professional.username }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 font-weight-bold">Contact</div>
                            <div class="col-sm-8">{{ professional.contact }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 font-weight-bold">Service Type</div>
                            <div class="col-sm-8">{{ professional.service_type }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 font-weight-bold">Experience</div>
                            <div class="col-sm-8">{{ professional.experience }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{url_for('signout')}}" class="btn btn-outline-danger mt-4">Signout</a>
            </div>
        {% endblock %}