{% extends 'layout.html' %}
{% block content %}
<h2 class="display-1">Customer Bookings</h2>
<button class="btn btn-primary" onClick="window.print()" style="float: right;">
    <i class="fas fa-print" aria-hidden="true"></i>
    Print
</button>
<br>
<hr>
{% if transactions|length > 0 %}
    {% for transaction in transactions %}
        <div class="heading">
            <h2 class="text-muted">Transaction # {{transaction.id}}</h2>
            <p class="datetime">{{transaction.datetime.strftime('%A, %d %b %Y, %I:%M %p')}}</p>
        </div>
        <div class="bookings">
            <table class="table">
                {% for booking in transaction.bookings %}
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Service Name</th>
                        <th>Date of Completion</th>
                        <th>Location</th>
                        <th>Amount</th>
                        <th>Status</th>
                        {%if booking.rating != None%}
                            <th>Rating</th>
                            <th>Remarks</th>
                        {%endif%}
                        
                        
                        
                    </tr>
                </thead>
                <tbody>
                    
                        <tr>
                            <td>{{booking.id}}</td>
                            <td>{{booking.service.name}}</td>
                            <td>{{booking.date_of_completion}}</td>
                            <td>{{booking.location}}</td>
                            <td>{{booking.transaction.amount}}</td>
                            <td>{{booking.transaction.status}}</td>
                            {%if booking.transaction.status == 'Completed'%}
                                {%if booking.rating == None%}
                                <form action="{{ url_for('rate_booking', id=booking.id) }}" method="post">
                                    <td>
                                        <input type="number" name="rating" placeholder="Rate:5 for best" min="1" max="5">
                                    </td>
    
                                    <td>
                                        <input type="String" name="remarks" placeholder="Remarks">    
    
                                    </td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <i class="fas fa-star"></i>
                                            Rate
                                        </button>
                                    </td>
    
                                </form>
                                {%else%}
                                    <td>{{booking.rating}}</td>
                                    <td>{{booking.remarks}}</td>
                                {%endif%}
                            
                                
                            {%endif%}

                           

                           
                            
                            <td>
                            <form action="{{url_for('complete_booking', id=booking.id)}}" method="post">
                                <button class="btn btn-success">
                                    <i class="fas fa-check"></i>
                                    Mark Complete
                                </button>
                            </form>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info">
        <strong>Info!</strong> No bookings found
    </div>
{% endif %}
{% endblock %}

{% block style %}
<style>
    .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .datetime {
        font-size: 1rem;
        font-weight: 300;
    }
    .bookings {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        justify-content: space-evenly;
    }
</style>
{% endblock %}

<!-- {% block script %}
<script>
    console.log('Orders Page');
</script>
{% endblock %} -->