{% extends 'layout.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="display-4">
        Household Services Application
    </h2>
    <div class="home">
        <img src="https://api.dicebear.com/9.x/bottts/svg?seed=Logout" width="100" alt="avatar">
    </div>
    <h3 class="text-bold">
        You have successfully logged out of your account
    </h3>
    <hr>
    <h4>Would you like to?</h4>
    
    <div class="row">
        <div class="col-12">
            <a href="{{ url_for('index') }}" class="btn btn-info btn-lg btn-block">
                <i class="fa-solid fa-house fa-3x"></i>
                Go to Home
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    
{% endblock %}