{% extends 'layout.html' %}
{% block title %}
Customers Management#
{% endblock %}
{% block content %}
<div class="container mt-4">

    <h2 class="display-4">Customer Management</h2>
    <a href="{{url_for('admin_db')}}" class="btn btn-primary">
        <i class="fa fa-angle-left"></i>
        back
    </a>
    <a href="{{url_for('customers')}}" class="btn btn-outline-primary">
        <i class="fa fa-search"></i>
        Search Customers
    </a>
    <button class="btn btn-primary" onClick="window.print()" style="float: right;">
        <i class="fas fa-print" aria-hidden="true"></i>
        Print
    </button>

    <hr>


<div class="container mt-5">
    <h2>Unblocked Customers</h2>
    <h6 display-9>Total Unblocked Customers = {{unblocked_customers|length}}</h6>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th style="width: 10%">Name</th>
                <th style="width: 40%">Location</th>
                <th style="width: 5%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in unblocked_customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.location }}</td>
                <td>
                    <form action="{{ url_for('block_customer', id=customer.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm" style="font-size: 15px;">
                            <i class="fa-solid fa-circle-xmark"></i> Block
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <h2>Blocked Customers</h2>
    <h6 display-9>Total Blocked Customers = {{blocked_customers|length}}</h6>

    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th style="width: 10%">Name</th>
                <th style="width: 40%">Location</th>
                <th style="width: 5%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in blocked_customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.location }}</td>
                <td>
                    <form action="{{ url_for('unblock_customer', id=customer.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-warning btn-sm" style="font-size: 15px;">
                            <i class="fa-solid fa-circle-check"></i> Unblock
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}
