{% extends 'layout.html' %}

{% block title %}
Professionals Management
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="display-4">Professionals Management</h2>
    
    <hr>

<a href="{{url_for('admin_db')}}" class="btn btn-primary">
    <i class="fa fa-angle-left"></i>
    back</a>
    <a href="{{url_for('professionals')}}" class="btn btn-outline-primary">
        <i class="fa fa-search"></i>
       Search Professionals
    </a>
    <button class="btn btn-primary" onClick="window.print()" style="float: right;">
        <i class="fas fa-print" aria-hidden="true"></i>
        Print
    </button>
<hr>

<div class="container mt-1">
    <h2>Pending Professionals</h2>
    <h6 display-9>Total Pending Professionals = {{pending_professionals|length}}</h6>

    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Service Type</th>
                <th>Document</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for professional in pending_professionals %}
            <tr>
                <td>{{ professional.name }}</td>
                <td>{{ professional.location }}</td>
                <td>{{ professional.service_type }}</td>
                
                <td>
                    <a href="{{ url_for('static', filename='uploads/' ~ professional.filename) }}" target="_blank">View Document</a>
                </td>
                <td>
                    <form action="{{ url_for('approve_professional', id=professional.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-success btn-sm"><i class="fa-solid fa-thumbs-up"></i> Approve</button>
                    </form>
                    <form action="{{ url_for('block_professional', id=professional.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm" ><i class="fa-solid fa-circle-xmark"></i> Block</button>
                    </form>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
     <div class="container mt-5">
            <h2>Approved Professionals</h2>
            <h6 >Total Approved Professionals = {{approved_professionals|length}}</h6>
            <table class="table table-striped mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Service Type</th>
                        <th>Document</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for professional in approved_professionals %}
                    <tr>
                        <td>{{ professional.name }}</td>
                        <td>{{ professional.location }}</td>
                        <td>{{ professional.service_type }}</td>
                        
                        <td>
                            <a href="{{ url_for('static', filename='uploads/' ~ professional.filename) }}" target="_blank">View Document</a>
                        </td>
                        <td>
                            
                            <form action="{{ url_for('block_professional', id=professional.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm"> <i class="fa-solid fa-circle-xmark"></i>Block</button>
                            </form>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div class="container mt-5">
            <h2>Blocked Professionals</h2>
            <h6>Total Blocked Professionals = {{blocked_professionals|length}}</h6>
            
            <table class="table table-striped mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Service Type</th>
                        <th>Document</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for professional in blocked_professionals %}
                    <tr>
                        <td>{{ professional.name }}</td>
                        <td>{{ professional.location }}</td>
                        <td>{{ professional.service_type }}</td>
                        
                        <td>
                            <a href="{{ url_for('static', filename='uploads/' ~ professional.filename) }}" target="_blank">View Document</a>
                        </td>
                        <td>
                            <form action="{{ url_for('unblock_professional', id=professional.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-warning btn-sm"><i class="fa-solid fa-circle-check"></i> Unblock</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>     
    </div>
</body>
</html>
</div>
{% endblock %}