{% extends 'layout.html' %}

{% block title %}
Admin Overview
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="display-4">View Rating & Reviews of Listed Professional</h1>
    <hr>

    <h2>Rating & Reviews of Professionals</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th>Service Name</th>
                
                
                <th>Professional ID</th>

                
                <th>Ratings</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                {% for booking in transaction.bookings %}
                <tr>
                    
                    <td>{{ booking.service.name }}</td>
                 
                    <td>{{ transaction.professional_id }}</td>
                    <td>{{ booking.rating}}</td>
                    <td>{{ booking.remarks }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <h2>All Listed Professionals</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Professional ID</th>
                <th>Professional Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for professional in professionals %}
            <tr>
                <td>{{ professional.id }}</td>
                <td>{{ professional.name }}</td>
                <td>{{ professional.location }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}