{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Rate Booking</h1>
                <form action="{{ url_for('rate_booking', id=booking_id) }}" method="post">
                    <div class="form-group
                        <label for="rating">Rating</label>
                        <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                    </div>
                    <div class="form-group
                        <label for="comment">Comment</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
