{% extends 'layout.html' %}
{% block content %}
    <h1 class="display-1">  
    <a href="{{ url_for('catalogue') }}" class="btn btn-success">
        <i class="fa-solid fa-book-open"></i>
            <p class="card-text">view catalogue</p>
    </a>
    Requested Schedule Details </h1>
    

<hr>
{% if schedules|length > 0 %}
    


<table class="table">
    <thead>
        <tr>
            <th>Schedule</th>
            <th>Service</th>
            <th>Price</th>
            <th>Location</th>
            <th>Scheduled_date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.id }}</td>
            <td>{{ schedule.service.name }}</td>
            <td>{{ schedule.service.price }}</td>
            <td>{{ schedule.service.location }}</td>
            <td>{{ schedule.schedule_datetime }}</td>
            <td>
                <form action="{{url_for('edit_schedule', id=schedule.id)}}" >
                    <button class="btn btn-success">
                        <i class="fas fa-check"></i>
                        Edit Schedule
                    </button>
                </form>
            </td>
            <td>
                <form action="{{url_for('delete_schedule', id=schedule.id)}}" method="post">
                    <button class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                        Delete Schedule
                    </button>
                </form>
            </td>
            
            
            
                
        </tr>
            
        {% endfor %}
    </tbody>
    
</table>

{%else%}
    <div class="alert alert-warning">
        <h4 class="alert-heading">No schedule found</h4>
        <p>There is no schedule found in the database. Please add a schedule to proceed.</p>
        <a href="{{url_for('catalogue')}}" class="btn btn-outline-primary"> Check catalogue to schedule services</a>

    </div>
{%endif%}
{% endblock %}

