
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text" 
                    name="cname"
                    id="cname"
                    value="{{cname}}"
                    class="form-control"
                    placeholder="Category">

                    <input type="text"
                    name="sname"
                    id="sname"
                    value="{{sname}}"
                    class="form-control"
                    placeholder="Service Type">
                    
                    

                    <input type="text"
                    name="location"
                    id="location"
                    value="{{location}}"
                    class="form-control"
                    placeholder="Location">

                    
                    <a href="{{url_for('catalogue')}}" class="btn btn-outline-info">
                        <i class="fa fa-trash "></i>
                        Clear
                    </a>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fa fa-search"></i>
                        Search

                    >
                </div>
                
            </form>
        </div>
    </div>
</div>

 