
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text" 
                    name="cname"
                    id="cname"
                    value="{{cname}}"
                    class="form-control"
                    placeholder="Name">

                    <input type="text"
                    name="clocation"
                    id="clocation"
                    value="{{clocation}}"
                    class="form-control"
                    placeholder="Location">
                    <a href="{{url_for('customers')}}" class="btn btn-outline-success">
                        <i class="fa fa-refresh"></i>
                        Refresh
                    </a>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fa fa-search"></i>
                        Search
                    </button>  
                </div>   
            </form>
        </div>
    </div>
</div>
